.material-card {
    max-width: 100%;
  }
  
  .material-header-image {
    background-image: url('https://st2.depositphotos.com/6628792/10200/v/950/depositphotos_102000452-stock-illustration-cellphone-theme-icon.jpg');
    background-size: cover;
  }