<div *ngIf="!isloading">
  <mat-card class="material-card">
    <mat-card-header>
      <div mat-card-avatar class="material-header-image"></div>
      <mat-card-title>{{order.name}}</mat-card-title>
      <mat-card-subtitle>Цена продукта:{{order.productPrice}}RUB, {{order.count}}шт. Вознагрождение: {{order.reward}}RUB
      </mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        {{order.description}}
      </p>
    </mat-card-content>
    <mat-card-actions *ngIf="canDeliver">
      <button mat-button (click)="deliverOrder(order.id)">Доставить</button>
    </mat-card-actions>
    <mat-card-actions *ngIf="canCancelDeliver">
      <button mat-button (click)="cancelDeliver()">
        Отменить доставку
      </button>
    </mat-card-actions>
    <mat-divider></mat-divider>
    <mat-card-footer>
      <p>Ссылка на продукт: {{order.productLink}}</p>
      <p>Заказчик {{order.orderBy.firstName}} {{order.orderBy.secondName}}</p>
    </mat-card-footer>
  </mat-card>
</div>