<p>
  Всего заказов: {{userOrders.length}}
</p>
<mat-card class="material-card" *ngFor="let order of userOrders">
  <mat-card-header (click)="router.navigateByUrl('orders/' + order.id)">
    <div mat-card-avatar class="material-header-image"></div>
    <mat-card-title>{{order.name}}</mat-card-title>
    <mat-card-subtitle>Цена продукта:{{order.productPrice}}RUB, {{order.count}}шт. Вознагрождение: {{order.reward}}RUB
    </mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="{{order.productImage}}" alt="Photo of smartphone">
  <mat-card-content>
    <p>
      {{order.description}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="router.navigateByUrl('orders/' + order.id)">Детали</button>
  </mat-card-actions>
</mat-card>